{% extends 'sobnushdi/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<table border="1 px">
<td>{{title}}</td>
    <td>
        <form action="{% url 'contract_mod' pk=contract.pk %}">
            <button type="submit">Изменить</button>
        </form>
    </td>
</table>
<table border="1 px">
    <th>ФИО заявителя</th>
    <th>Договор №</th>



    <tr>
        <td>{{ person }}</td>
        <td>{{ contract.number }}</td>
    </tr>
</table>
<table border="1 px">
    <th>Делянка №</th>
    <th>Лесничество</th>
    <th>Уч. Лесничество</th>
    <th>Урочище</th>
    <th>Квартал</th>
    <th>Выдел</th>
    <th>Вид рубки</th>
    <th>Стоимость по договору (руб.)</th>

    <tr>
        <td>{{ plot.number_plot }}</td>
        <td>{{ plot.forestry }}</td>
        <td>{{ plot.district_forestry }}</td>
        <td>{{ plot.tract }}</td>
        <td>{{ plot.quarter }}</td>
        <td>{{ plot.section }}</td>
        <td>{{ plot.chop_type }}</td>
        <td>{{ plot.cost }}</td>
    </tr>

</table>
<table border="1 px">
    <th>ИТОГО Деловой</th>
    <th>ИТОГО Дровяной</th>
    <th>ИТОГО Ликвидной</th>
    <th>Итого неликвидной</th>
    <th>ВСЕГО</th>

    <tr>
        <td>{{ plot.business }}</td>
        <td>{{ plot.firewood }}</td>
        <td>{{ plot.liquid_wood }}</td>
        <td>{{ plot.brushwood }}</td>
        <td>{{ plot.total }}</td>
    </tr>

</table>
<table border="1 px">
    <tr>
        <th>Порода</th>
        <th>Количество деревьев</th>
        <th>Крупная</th>
        <th>Средняя</th>
        <th>Мелкая</th>
        <th>Дровяная</th>
        <th>Цена</th>
    </tr>
    <tr>
        {% for wood in plot_wood_species %}
            <tr>
                <td>{{ wood.name }}</td>
                <td>{{ wood.number_of_trees }}</td>
                <td>{{ wood.large }}</td>
                <td>{{ wood.average }}</td>
                <td>{{ wood.small }}</td>
                <td>{{ wood.firewood }}</td>
                <td>{{ wood.price }}</td>
                <td>
                    <form action="{% url 'plot_wood_species_mod' pk=wood.pk %}">
                        <button type="submit">Изменить</button>
                    </form>
                </td>
            </tr>

            {% endfor %}
    </tr>
            <td>
                <form action="{% url 'plot_wood_species_add' pk=contract.pk %}">
                    <button type="submit">Добавить данные по породам</button>
                </form>
            </td>

</table>

<div class="clear"></div>

{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}