<!DOCTYPE html>
{% load static %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link type="text/css" href="{% static 'les/css/style_dogovor.css' %}" rel="stylesheet" />
    </head>
    <body>

{% if request.user.is_authenticated %}
<bo id="dogovor">
<p id="center">Договор</p>
<p id="center">
купли-продажи лесных насаждений № 11/{{contract.number}}
</p>
<span id="justy">с.Колосовка</span>   <span id="right">  {{contract.date}} </span>
<p id="justy" style="text-indent: 50px;">{{contract.statement.organization.title}}, именуемое
    в дальнейшем "Продавец", в лице {{organ_repr.position_v_roditelnom_padeje}}
    {{organ_repr.fio_v_roditelnom_padeje}}
    ,действующего на основании Положения о Главном управлении лесного хозяйства Омской области,
    утвержденного Указом Губернатора Омской
    области от 26 декабря 2007 года № 143 "О создании Главного управления  лесного хозяйства Омской
    области", и доверенности от 23.06.2021 года № 95 именуемый в дальнейшем Продавцом с одной стороны,
    и гражданин (ка) {{contract.statement.person}} ,
    паспорт серия {{contract.statement.person.passport.series}}
    № {{contract.statement.person.passport.number}} выдан {{contract.statement.person.passport.date_of_issue}}
    {{contract.statement.person.passport.issued}}
</p>
<p>
    в лице
</p>
<p>
    действующего на основании
</p>
<p>
    именуемый в дальнейшем Покупателем, с другой стороны, заключили настоящий договор о нижеследующем:
</p>
<p id="center">
    I. Предмет договора
</p>
<p id="justy">
    1. По настоящему Договору на основании распоряжения {{contract.statement.organization.title}} Главного управления лесного хозяйства Омской области от
    {{contract.date_decree}} года № {{contract.number_decree}} "О заключении договора
    купли-продажи лесных насаждений для собственных нужд граждан", Продавец обязуется передать лесные насаждения,
    расположенные на землях, находящихся в федеральной собственности (далее - лесные насаждения), в собственность
    Покупателю для заготовки древесины для древесины в соответствии со статьей 30 Лесного кодекса РФ, а Покупатель
    обязуется принять лесные насаждения и внести за них плату в соответствии с разделом III настоящего Договора
    в целях отопления жилого помещения, по адресу {{contract.statement.person.residence_address}}
</p>
<p id="justy">
    2.Местоположение лесных насаждений:
     Омская область,  Колосовский муниципальный район, Тарское лесничество,
    {{contract.plot.district_forestry.name}}
    участковое лесничество, урочище {{contract.plot.tract.name}} квартал № {{contract.plot.quarter}}
    , лесотаксационный выдел №{{contract.plot.section}} , деляна №{{contract.plot.number_plot}}
</p>
<p id="justy">
    3. Характеристика и объем древесины лесных насаждений, подлежащих заготовке, указываются в приложении № 1
    к настоящему договору
</p>
<p id="justy">
    4. Схема расположения лесных насаждений приводится в приложении № 2. к настоящему Договору
</p>
<p id="center">
    II. Условия заготовки древесины
</p>
<p id="justy">
    5. Форма рубки - {{contract.plot.felling_type}}, вид рубки {{contract.plot.chop_type}}
</p>

<p id="justy">
    6. Заготовке не подлежат деревья,не предназначенные для рубки и подлежащие сохранению в соответствии с
    Правилами заготовки древесины и лесным законодательством РФ
</p>

<p id="justy">>
    7. Вывоз древесины до {{contract.the_end_date_of_the_export_of_wood}} осуществляется одновременно с
    заготовкой древесины после учета древесины
</p>
<p id="justy">
    8. Очистка лесосеки от порубочных остатков осуществляется до {{contract.end_date_of_wood_harvesting}}
    , одновременно с заготовкой древесины следующим способом: Сбор порубочных остатков в кучи с последующим
    сжиганием в непожароопасный период
</p>

<p id="justy">
    9. Заготовка древесины осуществляется в соответствии с условиями настоящего Договора,
    требованиями Лесного кодекса Российской Федерации,  правилами  заготовки  древесины и
    особенностями заготовки древесины в  указанных в ст.23 Лесного кодекса РФ лесничествах,
    установленными в соответствии с частью 9 ст.29 Лесного кодекса РФ, правилами ухода за лесами,
    установленными в соответствии с частью 3 статьи 64 Лесного кодекса РФ, правилами пожарной
    безовасностив лесах,установленными в соответствии с с частью 3 ст.53 Лесного кодекса РФ,правилами
    санитарной безопасности в лесах, установленными в соответствии с частью 3 статьи 60.3
    Лесного кодекса РФ, правилами заготовки и сбора недревесных лесных ресурсов, установленными
    в соответствии с частью 5 статьи 32 Лесного кодекса РФ, а также видами лесосечных работ,порядком
    и последовательностью их проведения, установленными в соответствии с частью 4 статьи 16.1
    Лесного кодекса РФ.
</p>
<p id="justy">
    10. Обеспечить сохранение подроста на площади {{contract.plot.area}} гектар, в количестве тыс.
    штук на гектар.8Ос 2Б в соответствии с технологической картой лесосечных работ.
</p>

<p id="center">
    III. Размер и условия внесения платы
</p>

<p id="justy">
  11. Размер платы по настоящему Договору определяется в соответствии со статьей 76
    Лесного кодекса Российской Федерации. Плата по настоящему договору составляет {{contract.plot.cost}}
    <b>ДОБАВИТЬ ПРОПИСЬЮ!!!</b> в том числе: в бюджет субъекта Российской Федерации{{contract.plot.cost}}
    <b>ДОБАВИТЬ ПРОПИСЬЮ!!!</b> Покупатель вносит установленную настоящим Договором плату в срок
    не позднее 3 дней со дня подписания настоящего Договора. Расчет платы по настоящему Договору приводится
    в приложении № 3  к настоящему договору. Плата по настоящему Договору вносится путем перечисления
    денежных средств на расчетный счет Продавца в соответствии с платежными реквизитами, указанными
    в разделе IX настоящего Договора.
</p>

<p id="center">
   IV. Права и обязанности сторон.
</p>

<p id="justy">
    12. Продавец имеет право: а) осуществлять проверки соблюдения Покупателем условий настоящего Договора;
    б) после завершения Покупателем работ по заготовке древесины проводить осмотр лесосеки.
</p>
<p id="justy">
    13. Продавец обязан:
    а) передать Покупателю лесные насаждения по акту приема-передачи лесных насаждений согласно
    приложению № 4 к настоящему Договору  в течение 5 рабочих дней после поступления оплаты в полном
    объеме по настоящему Договору на счет Продавца в соответствии с разделом III настоящего Договора;
    б) обозначить на местности с помощью лесохозяйственных знаков и на картах (схемах) лесов местоположение
    продаваемых лесных насаждений.
    в) осуществлять учет заготовленной древесины до ее вывоза из леса в срок, не превышающий 3 рабочих дней
    с даты уведомления Покупателем об окончании рубки лесных насаждений.
</p>

<p id="justy">
    14. Покупатель имеет право осуществлять заготовку древесины в  течение  срока  действия  настоящего
    Договора  в  объеме, установленном настоящим   Договором, после подписания акта приема-передачи
    лесных насаждений согласно приложению № 4 к настоящему Договору.
    Срок рубки лесных насаждений, трелевки, частичной переработки, хранения, вывоза  древесины может
    быть увеличен Продавцом в порядке, в случаях и сроки, установленные правилами заготовкидревесины и
    особенности заготовки древесины в указанных в ст.23 Лесного кодекса РФ лесничествах, установленными
    в соответствии с частью 9 статьи29 Лесного кодекса РФ, по письменному заявлению Покупателя
</p>

<p id="justy">
    15. Покупатель обязан:
    а) внести плату в порядке, установленном настоящим Договором;
    б) принять лесные насаждения, местоположение которых указано в пункте 2 настоящего Договора, по акту
    приема-передачи лесных насаждений согласно приложению № 4 к настоящему Договору в течение 5 рабочих
    дней после поступления оплаты в полном объеме по настоящему Договору  на счет Продавца в соответствии
    с разделом III настоящего Договора;
    в) соблюдать правила заготовки древесины и особенности заготовки древесины в указанных в статье
    23 Лесного кодекса РФ лесничествах, установленные в соответствии  с частью 9 статьи 29 Лесного кодекса
    РФ, правила ухода за лесами, установленные в соответствии с частью3 статьи 64 Лесного кодекса РФ,
    правила пожарной безопасности в лесах, установленные в соответствии с частью 3 статьи 53
    Лесного кодекса РФ, правила санитарной безопасности в лесах, установленные в соответствии с частью3
    статьи60.3 Лесного кодекса РФ,  правила заготовки и сбора недревесных лесных ресурсов, установленные
    в соответствии с частью5 статьи 32 Лесного кодекса РФ;
    г) выполнять лесосечные работы в соответствии с технологической картой лесосечных работ;
    д) осуществлять складирование заготовленной древесины в местах, предусмотренных технологической
    картой лесосечных работ;
    е) обеспечить вывоз древесины в срок, установленный настоящим Договором;
    ж) осуществлять  выполнение работ по очистке лесосеки от порубочных остатков в срок,установленный
    пунктом 8 настоящего договора, в соответствии с Правилами заготовки древесины и особенностями заготовки
    древесины в  указанных в стстье 23 Лесного кодекса РФ лесничествах, установленными в соответствии с
    частью 9 статьи 29 Лесного кодекса РФ, Правилами ухода за лесами, установленными в соответствии
    с частью 3 статьи 64 Лесного кодекса РФ, правилами пожарной безопасности в лесах, установленными
    в соответствии с частью 3 статьи 53 Лесного кодекса РФ правилами санитарной безопасности в лесах,
    установленными в соответствии с частью 3 статьи 60.3 Лесного кодекса РФ, правилами заготовки и сбора
    недревесных лесных есурсов, установленнымив соответствии с частью 5 статьи 32 Лесного кодекса РФ,
    а также видами лесосечных работ, порядком и последовательностью их проведения, установленными
    в соответствии с частью4 статьи 16.1 Лесного кодекса РФ
    з) не допускать уничтожения или повреждения граничных, квартальных, лесосечных и других столбов и знаков;
    и) после завершения работ по заготовке древесины в течении 3 рабочих дней, но не позднее окончиния
    срока действия настоящего Договора, Информировать Продавца об окончании указанных работ;
    к) уведомить Продавца о необходимости осуществления учета заготовленной по настоящему Договору
    древесины до ее вывоза из леса
    л) не препятствовать осуществлению Продавцом учета древесины, заготовленной на основании
    настоящего Договора
    м) осуществлять учет заготовленной древесины до ее вывоза из леса, за исключением заготовки елей и
    (или) деревьев другиз хвойных пород для новогодних праздников;
    н) выполнять другие обязанности, предусмотренные законодательством Российской Федерации;
    о) своевременно предоставлять отчет об использовании лесов по утвержденной действующим
    законодательством форме.
</p>

<p id="center">
   V. Ответственность сторон
</p>

<p id="justy">
    16. За неисполнение или ненадлежащее исполнение обязательств, предусмотренных настоящим Договором,
    Продавец и Покупатель несут ответственность согласно законодательству Российской Федерации
    (включая обязанность возместить в соответствии с Гражданским кодексом Российской Федерации
    (Собрание законодательства РФ, 1994,№ 32, ст.3301;2019,№27,ст.3655) убытки, причиненные таким
    неисполнением или ненадлежащим исполнением) и настоящему Договору.
</p>

<p id="justy">
    17. За нарушение условий настоящего Договора Покупатель уплачивает Продавцу неустойку в следующем размере:
    а) за ненадлежащее выполнение обязанностей по внесению платы по настоящему Договору - 0,1 процента
    суммы просроченного платежа за каждый день просрочки. Начисление неустойки производится начиная со дня,
    следующего за днем истечения срока платежа, и до дня внесения просроченного платежа в полном объеме;
    б) за невыполнение или несвоевременное выполнение работ по очистке лесосеки от порубочных остатков в
    соответствии с настоящим Договором, правилами заготовки древесины и особенностями заготовки древесины
    в указанных в статье 23 Лесного кодекса Российской Федерации лесничествах, установленными в соответствии
    с частью 9 статьи 29 Лесного кодекса Российской Федерации, правилами ухода за лесами, установленными
    в соответствии с частью 3 статьи 64 Лесного кодекса Российской Федерации, правилами пожарной безопасности
    в лесах, установленными в соответствии с частью 3 статьи 53 Лесного кодекса Российской Федерации,
    правилами санитарной безопасности в лесах, установленными в соответствии с частью 3 статьи 60.3
    Лесного кодекса Российской Федерации, правилами заготовки и сбора недревесных лесных ресурсов,
    установленными в соответствии с частью 5 статьи 32 Лесного кодекса Российской Федерации, а также
    видами лесосечных работ, порядком и последовательностью их проведения, установленными в соответствии
    с частью 4 статьи 16.1 Лесного кодекса Российской Федерации, захламление по вине Покупателя просек
    и прилегающих к лесосекам полос шириной 50 метров - 4-кратная стоимость затрат, необходимых для очистки
    данной территории по нормативам затрат на выполнение государственными бюджетными и автономными
    учреждениями мероприятий по защите лесов, состоящих из очистки леса от захламления, определенные
    в соответствии со статьей 69.2 Бюджетного кодекса Российской Федерации;
    в) за складирование заготовленной древесины в местах, не предусмотренных технологической картой
    лесосечных работ, - 2-кратная стоимость складированной древесины, определенная по ставкам платы за
    единицу объема древесины лесных насаждений, установленным постановлением Правительства
    Российской Федерации от 22.05.2007  310 "О ставках платы за единицу объема лесных ресурсов и ставках
    платы за единицу площади лесного участка, находящегося в федеральной собственности"
    (Собрание законодательства Российской Федерации, 2007, N 30, ст. 3935; 2020, N 2, ст. 205),
    органами государственной власти субъектов Российской Федерации, органами местного самоуправления,
    уполномоченными в соответствии со статьями 81 - 84 Лесного кодекса Российской Федерации
    (Собрание законодательства Российской Федерации, 2006, N 50, ст. 5278; 2018, N 53, ст. 8464);
    г)за оставление не вывезенной в установленный правилами заготовки древесины и особенностями заготовки
    древесины в указанных в статье 23 Лесного кодекса РФ лесничествах, установленными в соответствии с
    частью 9 статьи 29 Лесного кодекса РФ, срок(включая предоставленные отсрочки) древесины на лесосеке-6
    -кратная стоимостьне вывезенной в срок древесины,определенная по стакам платы за единицу обьема лесных
    ресурсов, установленным постановлением Правительства РФ от 22.05.2007 № 310"О ставках платы за единицу
    обьема лесных ресурсов и ставках платы за единицу площадилесного участка,находящегося в федеральной
    собственности", органами государственной власти субьектов РФ, органами местного самоуправления,
    уполномоченными в соответствии со статьями 81-84 Лесного кодекса РФ; за оставление не вывезенных в
    установленный правилами заготовки древесины и особенностями заготовки древесины в указанных в статье
    23 Лесного кодекса РФ лесничествах, установленными в соответствии с частью 9 статьи 29 Лесного кодекса РФ,
    срок(включая предоставленные отсрочки)елей и (или) деревьев других хвойных пород для новогодних
    праздников в местах заготовки-6- кратная стоимость не вывезенных в установленный срок елей и (или)
    деревьев других хвойных пород для новогодних праздников, определенная, по стакам платы за единицу
    объема лесных ресурсов, установленные постановлением правительства Российской федерации от
    22.05.2007г № 310" О ставках платы за единицу обьема лесных ресурсов и ставках платы за единицу площади
    лесного участка,находящегося в федеральной собственности" органами государственной влавсти субъектов РФ,
    органами местного самоуправления,уполномоченными в соответствии со статьями 81-84 Лесного кодекса РФ;
    д) за уничтожение или повреждение граничных, квартальных, лесосечных и других столбов и знаков -
    9-кратная стоимость их изготовления и установки;
    е) за рубку или повреждение семенников и деревьев в семенных куртинах и полосах, за рубку деревьев,
    не подлежащих рубке при проведении сплошных, выборочных рубок, - 4-кратная стоимость соответствующей
    срубленной древесины, а также поврежденных семенников и деревьев в семенных куртинах и полосах,
    определенная по ставкам платы за единицу объема древесины лесных насаждений, установленным Правительством
    Российской Федерации  от 22.05.2007г №310 " О ставках платы за единицу объема лесных ресурсов и
    ставках платы за единицу площади лесного участка,находящегося в федеральной собственности",
    органами государственной власти субъектов Российской Федерации, органами местного самоуправления ,
    уполномоченными в соответствии со статьями 81 - 84 Лесного кодекса Российской Федерации;
    ж) за проведение заготовки и трелевки древесины способами, в результате которых  в горных условиях
    влзникла эрозия, -100 тыс.рублей за каждый гектар эродированной площади, на которой поврежден гумусовый
    слой почвы;
    з) за несоблюдение требований Правил лесовостановления, в соответствии с частью 3 статьи 62 Лесного кодекса
    РФ(Собрание законодательства РФ, 2006,№50, ст.5278; 2020,№ 18, ст.2892),в части повреждения или
    уничтожения подроста и (или) 2-го яруса хвойных, твердолиственных пород лесных насаждений  ,
    -2- кратная стоимость работ, необходимых для создания и выращивания лесных культур до возраста
    поврежденного или уничтоженного подроста на участке, равном площади, на которой уничтожен или
    поврежден подрост, по нормативам затратна выполнение государственными бюджетными и автономными
    учреждениями мероприятий по воспроизводству лесов, состоящих из подготовки лесного участка и обработки
    почвыдля создания лесных культур, агротехнического ухода за лесными культурами, в том числе дополнения
    лесных культур, проведения рубок ухода в молодняках(осветление и прочистка)определенные в соответствии
    со статьей 69.2 Бюджетного кодекса РФ.
    и) за отчуждение или передачу другому лицу древесины, заготовленной для собственных нужд,
    а также в случае препятствия осуществлению Продавцом учета древесины, заготовленной на
    основании настоящего Договора, - 9-кратная стоимость заготовленной древесины, определенная по
    ставкам платы за единицу объема древесины лесных насаждений, установленным в соответствии с частью
    4 статьи 76 Лесного кодекса Российской Федерации органами государственной власти субъектов
    Российской Федерации, постановлением Правительства Российской Федерации от 22.05.2007 N 310
    "О ставках платы за единицу объема лесных ресурсов и ставках платы за единицу площади лесного
    участка, находящегося в федеральной собственности" <19>;
    к) за вывоз древесины с места заготовки до проведения органами государственной власти, уполномоченными
    в соответствии со статьями 81 - 84 Лесного кодекса Российской Федерации на заключение договоров
    купли-продажи лесных насаждений для собственных нужд граждан, учета заготовленной древесины
    - 6-кратная стоимость объема вывезенной без учета древесины, определенная по ставкам платы за единицу
    объема древесины лесных насаждений, установленным в соответствии с частью 4 статьи 76
    Лесного кодекса Российской Федерации органами государственной власти субъектов Российской Федерации,
    Правительством Российской Федерации  от 22.05.2007г № 310"О ставках платы за единицу объема лесных
    ресурсов и ставках платы за единицу площади лесного участка, находящегося в федеральной собственности"
</p>

<p id="justy">
    18. Уплата неустоек не освобождает Покупателя от выполнения обязательств, предусмотренных
    настоящим Договором.
</p>

<p id="center">
   VI. Порядок изменения и расторжения Договора
</p>

<p id="justy">
    19. Все изменения к  настоящему Договору, оформляются в письменной форме и подписываются сторонами.
</p>

<p id="justy">
    20. При изменении условий настоящего Договора обязательства сторон сохраняются в измененном виде.
    В случае изменения условий настоящего Договора обязательства считаются измененными с момента
    заключения соглашения сторон об изменении условий Договора, если иное не вытекает из соглашения
    или характера изменения условий Договора, а при изменении условий Договора в судебном порядке
    - с момента вступления в законную силу решения суда об изменении условий настоящего Договора.
</p>

<p id="justy">
    21. Настоящий Договор прекращает действие в случаях, предусмотренных гражданским законодательством
    Российской Федерации, и случае, предусмотренном 22 настоящего Договора
</p>

<p id="justy">
   22. Продавец вправе отказаться от исполнения настоящего Договора в одностороннем порядке в случае
    невыполнения  Покупателем лесохозяйственного регламента в части охраны лесов от пожаров, в части
    защиты лесов, в части охраны лесов от загрязнения и иного негативного воздействия, в части
    воспроизводства лесов, уведомив об этом Покупателя в письменной форме за 30 дней до даты расторжения
    договора.
    Настоящий договор прекращает свое действие с даты, указанной в письменном уведомлении. В случае
    одностороннего отказа Покупателя от исполнения настоящего Договора он считается расторгнутым
</p>

<p id="center">
   VII. Срок действия Договора
</p>

<p id="justy">
   23. Срок действия настоящего Договора устанавливается с {{contract.date}} по
    {{contract.end_date_of_wood_harvesting}}
</p>

<p id="center">
   VIII. Прочие условия Договора
</p>

<p id="justy">
  24. Покупатель извещен о том, что количественные и качественные характеристики заготовленной древесины,
    полученные при ее учете, могут отличаться от количественных и качественных характеристик
    лесных насаждений, являющихся предметом настоящего Договора с учетом погрешности изменения
    объема древесины при таксации, установленной правилами заготовки древесины и особенностями
    заготовки древесины в указанных в статье 23 Лесного кодекса РФ лесничествах, установленными
    в соответствии с частью 9 статьи 29 Лесного кодекса  РФ.
</p>

<p id="justy">
    25. Спорные вопросы, возникающие в ходе исполнения настоящего Договора, или вопросы, не оговоренные
    в настоящем Договоре, разрешаются путем переговоров. В случае если согласие путем переговоров
    не достигнуто, указанные вопросы разрешаются в судебном порядке.
    Споры рассматриваются в судебном порядке по месту нахождения Продавца.
     Во всем остальном, что не предусмотрено настоящим Договором, стороны руководствуются
    законодательством Российской Федерации.
</p>

<p id="justy">
    26. Продавец и Покупатель  несут ответственности за неисполнение или ненадлежащее исполнение своих
    обязательств по настоящему Договору,если не докажут, что надлежащее исполнение оказалось невозможным
    вследствии непреодолимой силы, то есть чрезвычайных и непредотвратимых при данных
    условиях обстоятельств.
</p>

<p id="justy">
    27. Прекращение срока действия настоящего Договора не освобождает стороны от исполнения
    обязательств по нему.
</p>

<p id="justy">
    28. Настоящий Договор составлен в двух подлинных экземплярах, по одному для каждой из сторон.
</p>

<p id="justy">
    29. Приложения к настоящему Договору являются его неотъемлемыми частями.
</p>

<p id="center">
  IX. Реквизиты сторон
</p>

<table>
    <tr>
        <td>
            Главное управление лесного хозяйства Омской области
        </td>
        <td>
            {{contract.statement.person}}
        </td>
    </tr>
    <tr>
        <td>
            644001, г. Омск, ул. Куйбышева, д. 63
        </td>
        <td>
            {{contract.statement.person.residence_address}}
        </td>
    </tr>
    <tr>
        <td>
            ИНН 5503202387
        </td>
        <td>
           ИНН {{contract.statement.person.passport.inn}}
        </td>
    </tr>
    <tr>
        <td>
            КПП 550401001
        </td>
        <td>
           Документ удостоверяющий личность: паспорт


        </td>
    </tr>
    <tr>
        <td>
            ОГРН 1085543000289
        </td>
        <td>
             серия {{contract.statement.person.passport.series}}
            № {{contract.statement.person.passport.number}} выдан
            {{contract.statement.person.passport.date_of_issue}} г.
        </td>
    </tr>
    <tr>
        <td>
           ОКПО  82995828
        </td>
        <td>
             {{contract.statement.person.passport.issued}}
        </td>
    </tr>
    <tr>
        <td>
           Банковские реквизиты
        </td>
        <td>
            д/р {{contract.statement.person.date_of_bird}}
        </td>
    </tr>
    <tr>
        <td>
           Банк получателя     ОТДЕЛЕНИЕ ОМСКБАНКА РОССИИ // УФК по Омской области г.Омск
        </td>
        <td>
            м/р {{contract.statement.person.passport.address_birth}}
            тел: {{contract.statement.person.phone_number}}
        </td>
    </tr>
    <tr>
        <td>
           р/с    40102810245370000044
        </td>
        <td>
            Банковские реквизиты
        </td>
    </tr>
</table>






{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
    </body>
</html>