{% extends 'sobnushdi/base.html' %}

{% block content %}

<form action="{% url 'statement_print' pk %}" method="post">
    {% csrf_token %}
                                   В ___Главное управление Лесного хозяйства
                                                Омской области
                                (наименование органа исполнительной власти)

                               от {{person}}_________________________________________
                                     (фамилия, имя, отчество заявителя)
                               {{person.passport}}____________________________________________
                               ____________________________________________
                               (данные документа, удостоверяющего личность)
                               {{person.residence_address}}____________________________________________
                               ____________________________________________
                                         (адрес места жительства)
                               {{person.phone_number}}____________________________________________
                                  (контактный телефон, адрес электронной
                                            почты (при наличии)

                                 ЗАЯВЛЕНИЕ
                    о заключении договора купли-продажи
              лесных насаждений для собственных нужд граждан

В  соответствии  со  статьями  30,  75 - 77 Лесного  кодекса Российской
Федерации,   статьей  4  Закона  Омской  области  "О  регулировании  лесных
отношений  в Омской области" прошу заключить со мной договор  купли-продажи
лесных насаждений для собственных нужд.

    Лесные насаждения расположены в _______________________________________
___________________________________________________________________________
 (наименование лесничества, в границах которого предполагается осуществить
                     куплю-продажу лесных насаждений)

    Объем древесины и ее качественные показатели составляют:
1) для целей строительства, ремонта _______________________________________
___________________________________________________________________________
   (указать объект строительства, перечень и объем ремонтно-строительных
   работ, местонахождение объекта, кадастровый номер земельного участка
(при наличии), на котором планируется строительство или ремонт, кадастровый
   номер объекта недвижимости (при наличии), ремонт которого планируется
                               осуществить)
________________________ - ___________________ куб.м;
2) для целей отопления ____________________________________________________
___________________________________________________________________________
 (указать местонахождение объекта недвижимости, кадастровый номер объекта
                        недвижимости (при наличии))
________________________ - ___________________ куб.м;
3) для иных целей _________________________________________________________
                                 (указать цель использования)
________________________ - ___________________ куб.м.

Настоящим  заявлением  выражаю  согласие  Главному  управлению  лесного
хозяйства Омской области, расположенному по адресу: г. Омск, ул. Куйбышева,
63,  на  обработку  содержащихся  в  нем персональных данных, включая сбор,
запись,   систематизацию,   накопление,  хранение,  уточнение  (обновление,
изменение),    извлечение,    использование,   передачу   (распространение,
представление, доступ), обезличивание, блокирование, удаление, уничтожение.
Согласие  на  обработку  персональных  данных, содержащихся в настоящем
заявлении,   действует  до  даты  подачи  заявления  об  отзыве  настоящего
согласия.

_____________________ _________________ ___________________________________
       (дата)             (подпись)            (расшифровка подписи)
_______________"________________




    <button type="submit">Печать</button>
    <form action="{% url 'statements_list' %}" method="get">
        <button type="reset"><a href="{% url 'statements_list' %}">Отмена</a></button>
    </form>
</form>

{% endblock %}