{% extends 'sobnushdi/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<table>

{% for stat in statements %}
    <tr>

        <td><b>№:</b><mark> {{ stat.number_statement }}</mark></td>
        <td><b>ФИО:</b> {{ stat.person }}</td>
        <td><b>Дата подачи:</b></td><td> {{ stat.date }}</td>
        <td>
            <form action="{% url 'statement_mod' pk=stat.pk %}">
                <button type="submit">Изменить</button>
            </form>
        </td>
</tr>
    {% endfor %}

</table>
<table>
<tr>
    <td><form action="{% url 'statement_add' %}">
        <button type="submit">Добавить</button></form></td>
</tr>

</table>
{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}