{% extends 'sobnushdi/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
{{title}}
<table>
    <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Дата заявления</th>
    </tr>
{% for stat in statements %}
    <tr>

        <td><mark> {{ stat.number_statement }}</mark></td>
        <td> {{ stat.person }}</td>
        <td> {{ stat.date }}</td>
        <td>
            <form action="{% url 'statement_mod' pk=stat.pk %}">
                <button type="submit">Изменить</button>
            </form>
        </td>
</tr>
    {% endfor %}

</table>
<table>
<tr>
    <td><form action="{% url 'person_wizard_add' %}">
        <button type="submit">Добавить</button></form></td>
</tr>

</table>
{% else %}


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}