html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

a {
	color: #fdc073;
	text-decoration: none;
	border: 1px
}
a:hover {
	color: #FDA83D;
	border: 1px
}

button{
width: 100%;
height: 50px
}

a.Butf{
    color: #fdc073;
	text-decoration: none;
	float: right;
	background: #333671;
	border: 1px
}

a.Butf:hover{
    color: #FDA83D;
    border: 1px
}

.first_last{
    color: #FF0000;
}

.next_previous{
    color: #0000FF;
}

.tab_statement_add{
    text-align: right;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	background: #3F4137;
	height: 60px;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}

ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}

ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}


th{
    border: 2px solid;
    color: #444;
}

td{
    padding: 6px;
    border: 1px solid;
}
.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

table {
   width: 100%;
   border: 1px solid grey;
   border-collapse: collapse;
   padding: 3px;
}

.pagination{
    margin: 10% 30%;
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
}

