{% extends 'sobnushdi/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
{{title}}
<table>
    <tr>
        <th>№</th>
        <th>Лесничество</th>

    </tr>
{% for forestry in forestrys %}
    <tr>

        <td><mark> {{ forestry.pk }}</mark></td>
        <td> {{ forestry.name }}</td>
        <td>
            <form action="{% url 'forestry_mod' pk=forestry.pk %}">
                <button type="submit">Изменить</button>
            </form>
        </td>
        <td>
            <form action="{% url 'form_forestry_del' pk=forestry.pk %}">
                <button type="submit">Удалить</button>
            </form>
        </td>
</tr>
    {% endfor %}

</table>
<div><form action="{% url 'forestry_mod' pk=0 %}" method="GET">
	        <button type="submit" >Добавить</button>
    <button type="reset" onclick="document.location='{% url 'guides' %}'">Назад</button>
</form>
</div>

<div class="clear"></div>
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="first_last">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="next_previous">&laquo; Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next_previous">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="first_last">Последняя &raquo;</a>
        {% endif %}
        </span>
    </div>
{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}