{% extends 'sobnushdi/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<H1>{{title}}</H1>

<div><form action="{% url 'breeds' %}" method="GET">
	        <button type="submit" >Породы</button>
</form></div>
<div><form action="{% url 'tracts' %}" method="GET">
	        <button type="submit" >Урочища</button>
</form>
</div>
<div><form action="{% url 'forestrys' %}" method="GET">
	        <button type="submit" >Лесничества</button>
</form>
</div>
<div><form action="{% url 'district_forestrys' %}" method="GET">
	        <button type="submit" >Участковые лесничества</button>
</form>
</div>
<div><form action="{% url 'organizations_list' %}" method="GET">
	        <button type="submit" >Организации</button>
</form>
</div>
<div><form action="{% url 'locality_types_list' %}" method="GET">
	        <button type="submit" >Типы населенных пунктов</button>
</form></div>

{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}