{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link type="text/css" href="{% static 'les/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
     {% block mainmenu %}
     <div class="header">
         <ul id="mainmenu" class="mainmenu">
             {% if request.user.is_authenticated %}
                <li><a href="{% url 'statements_list' %}">Заявления</a></li>
                <li>Договора</li>
                <li>Служебные данные</li>
                <li class="last">{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
             {% else %}
                <div>
                    <li class="last">
                        <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
                    </li>
                </div>
             {% endif %}
         </ul>
     </div>
     {% endblock %}
        {% block content  %}

        {% endblock %}
    </body>
    </html>