{% extends 'sobnushdi/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<table>
{% for p in object_list %}
    <tr>

        <td><mark>{{ p.pk }}</mark></td>
        <td>{{ p.second_name }} {{ p.first_name }} {{ p.patronymic }}</td>
        <td><b>Дата рождения:</b></td><td> {{ p.date_of_bird }}</td>
        <td>
            <form action="{% url 'person_mod' pk=p.pk %}">
                <button type="submit">Изменить</button>
            </form>
        </td>
</tr>
    {% endfor %}

</table>
<table>
<tr>
    <td><form action="{% url 'person_add' %}"><button type="submit">Добавить</button></form></td>
</tr>

</table>
{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}