{% extends 'sobnushdi/base.html' %}

{% block content %}

<form action="{% url 'person_add' %}" method="post">
    {% csrf_token %}
    <table bgcolor="silver">
        <tr>
            <th>ФИО</th>
            <th>Паспортные данные</th>
            <th>Прописка</th>
        </tr>
        <tr bgcolor="#858">
            <td>
                <table >
                    {{ form_add_person.as_table }}
                </table>
            </td>

            <td>
                <table>
                    {{ form_add_passport.as_table }}
                </table>
            </td>

            <td>
                <table>
                    {{ form_add_residence_address.as_table }}
                </table>
            </td>
        </tr>
    </table>

    <button type="submit">Добавить</button>
    <form action="{% url 'person_list' %}" method="get">
        <button type="reset"><a href="{% url 'person_list' %}">Отмена</a></button>
    </form>
</form>

{% endblock %}