{% extends 'sobnushdi/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<form action="{% url 'plot_wood_species_mod' pk %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>ФИО</th>
            <th>Договор</th>
            <th>Делянка</th>
            <th>Количество по породе в делянке</th>

        </tr>
        <tr>
            <td>
                    {{ person }}
            </td>
            <td>
                    {{ contract }}
            </td>
            <td>
                    {{ plot }}
            </td>
            <td>
                    {{ form_mod_plot_wood_species.as_p }}
            </td>
        </tr>
    </table>

    <button type="submit">ОК</button>
    <form action="{% url 'contract_view' pk%}" method="get">
        <button type="reset" onclick="document.location='{% url 'contract_view' pk%}'">Отмена</button>

    </form>
</form>
{% else %}
<p>Авторизуйтесь</p>
 {% endif %}
{% endblock %}